@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  transition: .2s;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
}

section {
  display: flex;
  justify-content: center;
}

.app_width {
  width: 1250px;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

table {
  border-collapse: collapse
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}